body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#navBar {
    height: 5vh;
    background-color: #004b8d;
}

/*#titleBar {
    text-align: center;
    height: 5vh;
    width: 100%;
    background-color: #004b8d;
    color: #fff;
    display: flex;
    align-items: center;
}*/

/*#titleBar img {
    width: 50px;
    height: auto;
    float: left;
    margin: 10px;
    background-color: #fff;
}

#titleBar h3 {
    font-size: 20px;
    float: left;
}*/

#print-btn {
    background-color:#6cb33f;
    color:white;
    padding:10px;
}

#print-btn:hover{
    background-color:#b6b8ba;
    color:black;
}

#sidePanel {
    height: 95vh;
    float: left;
    text-align: center;
}

#sidePanel h5{
    font-size: 16px;
    margin-top: 10px;
}

#sidePanel p,ul,ol{
    font-size: 12px;
    margin-left: 10px;
    text-align: left;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
}

#sidePanel button{
    background-color: #004b8d;
    color: #fff;
    margin: 10px;
    font-size: 12px;
}

#sidePanel button:hover{
    background-color: #b6b8ba;
}

#viewDiv {
    height: 95vh;
    /*width: 80%;*/
    float: right;
}

@media print{
    #navBar,
    #info-header,
    #info,
    #map-tools,
    #map-tools-list,
    #calculate,
    #pastScores,
    #writeDB,
    #toolBar,
    #miPopup{
        display: none;
    }
    #cof-score-tbl {
        break-after:page;
    }
}